
@{
    ViewBag.Title = "UserPage";
}

<h2>Id User: @ViewBag.id</h2>

<html>
<head>
    <title>Игрок: @ViewBag.userLogin</title>
</head>
<body>
<div class="userPage">
    <div>
        <span>Имя: @ViewBag.firstName</span>
    </div>
    <div>
        <span>Фамилия: @ViewBag.lastName</span>
    </div>
    <div>
        <span>Номер телефона: @ViewBag.phoneNumber</span>
    </div>
    <div>
        <span>Электронная почта: @ViewBag.email</span>
    </div>
    <div>
        <span>Дата рождения: @ViewBag.birthday</span>
    </div>
    <div>
        <span>Ссылка ВКонтакте: @ViewBag.linkVK</span>
    </div>
    </div>
</body>
</html>
