
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game: @ViewBag.Id</title>

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/knockout-3.4.0.js"></script>

    <script src="/Scripts/Game/GamePage.js"></script>

</head>
<body>
    <div>
        <h2>Название Игры: @ViewBag.NameGame</h2>
    </div>
    <div>
        <span>Автор(ы): @ViewBag.IdАuthor</span>
    </div>
    <div>
        <span>последовательность игры: @ViewBag.Sequence</span>
    </div>
    <div>
        <span>Минимальный пробег: @ViewBag.Distance км</span>
    </div>
    <div>
        <span>Начало игры: @ViewBag.StartGame</span>
    </div>
    <div>
        <span>Время окончания игры: (Время указанное авторами)</span>
    </div>
    <div>
        <span>Время по автопереходам: (Время вычисленное автоматически)</span>
    </div>
    <div>
        <h2>Информация по игре от авторов</h2>
    </div>
    <div>
        <span>@Html.Raw(ViewBag.Info)</span>
    </div>
    <button id="btn-game" data-bind="click: enterTheGame">Вход в игру</button>

    <script>
        loadPage();
        window.currentGameId = @ViewBag.Id
    </script>
</body>
</html>
@*Может быть здесь сделать кномпку редактирования для автора игры. Кнопка появляется если на странице АВТОР!*@