
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width"/>*@
    
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/knockout-3.4.0.js"></script>

    <script src="/Scripts/GameplayPage.js"></script>

    <title>GameplayPage</title>
</head>
<body>

    
@*<asp:Timer ID="Timer1" runat="server" Interval="1000"/>*@

    <div class="content">
        <h1>@ViewBag.nameGame</h1>
        <h2>Уровень @ViewBag.lvl из @ViewBag.lvlLength</h2>

        <input type="text" id="id-answer" class="form-control" placeholder="Ваш ответ" data-bind="value: playerAnswer"/>
        <button id="btn-answer" data-bind="click:toAnswer">Ответить</button>
        <br>
        <span>Ваш ответ или код</span>

        <p>
            @Html.Raw(ViewBag.commentAuthor)
        </p>

        <div class="spacer"></div>
        <h3 class="timer">
            <strong>Автопереход</strong> на следующий уровень через: <span data-bind="text: timeNextLvl"></span>
            
            @*@Html.Raw(ViewBag.TimeTransition)*@

            @*<strong>Автопереход</strong> на следующий уровень через: <span class="bold_off" id="time44554340"><b>n</b> м<b>m</b> с</span>*@

            <script>
                var sec = @ViewBag.TimeTransition2;       // Здесь из контроллера получаем время до автоперехода
            </script>

        </h3>

        <span>штраф N минут (Если он есть)</span>

        <div class="spacer"></div>
        <h3>Задание</h3>
        <p>@Html.Raw(ViewBag.quest)</p>

        @*не забыть про подсказки и бонусы!*@
    </div>

    <script>
        loadPage();
    </script>

</body>
</html>
