
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameplayPage</title>
</head>
<body>

    <div class="content">
        <h1>@ViewBag.nameGame</h1>
        <h2>Уровень @ViewBag.lvl из @ViewBag.lvlLength</h2>

        <input type="text" id="answer" class="form-control" placeholder="Ваш ответ" data-bind="value: xxx" />
        <span>Ваш ответ или код</span>

        <p>
            @Html.Raw(ViewBag.commentAuthor)
        </p>

        <div class="spacer"></div>
        <h3 class="timer">
            <strong>Автопереход</strong> на следующий уровень через: <span class="bold_off" id="time44554340"><b>n</b> м<b>m</b> с</span>
        </h3>

        <span>штраф N минут (Если он есть)</span>

        <div class="spacer"></div>
        <h3>Задание</h3>
        <p>@Html.Raw(ViewBag.quest)</p>

        @*не забыть про подсказки и бонусы!*@
    </div>

</body>
</html>
