
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game: @ViewBag.Id</title>
</head>
<body>
    <div>
        <h2>Название Игры: @ViewBag.NameGame</h2>
    </div>
    <div>
        <span>Автор(ы): @ViewBag.IdАuthor</span>
    </div>
    <div>
        <span>последовательность игры: @ViewBag.Sequence</span>
    </div>
    <div>
        <span>Минимальный пробег: @ViewBag.Distance км</span>
    </div>
    <div>
        <span>Начало игры: @ViewBag.StartGame</span>
    </div>
    <div>
        <span>Время окончания игры: (время по автопереходу)</span>
    </div>
    <div>
        <h2>Информация об игре от авторов</h2>
    </div>
    <div>
        <span>@ViewBag.Info</span>
    </div>
    <button>Вход в игру</button>
</body>
</html>
@*Может быть здесь сделать кномпку редактирования для автора игры. Кнопка появляется если на странице АВТОР!*@