<script src="/Scripts/Game/GamePage.js"></script>
<div>
    <h2>Название Игры: @ViewBag.NameGame</h2>
</div>
<div>
    <span>Автор(ы): @ViewBag.IdАuthor</span>
</div>
<div>
    <span>последовательность игры: @ViewBag.Sequence</span>
</div>
<div>
    <span>Минимальный пробег: @ViewBag.Distance км</span>
</div>
<div>
    <span>Начало игры: @ViewBag.StartGame</span>
</div>
<div>
    <span>Время окончания игры: @ViewBag.EndGame (Время указанное авторами)</span>
</div>
<div>
    <span>Время по автопереходам: (Время вычисленное автоматически)</span>
</div>
<table border="1">
    <tr>
        <caption>Информация по командам</caption>
        <th>Название команды</th>
        <th>Участие</th>
    </tr>
    @{
        foreach (var tableRow in ViewBag.TableRows)
        {
            @Html.Raw(tableRow)
        }
    }
</table>
<button id="btn-application" data-bind="click: application">Подать\снять заявку</button>

<div>
    <h2>Информация по игре от авторов</h2>
</div>
<div>
    <span>@Html.Raw(ViewBag.Info)</span>
</div>

<button id="btn-game" data-bind="click: enterTheGame">Вход в игру</button>

<script>
    loadPage();
    window.currentGameId = @ViewBag.Id
</script>
@*Может быть здесь сделать кномпку редактирования для автора игры. Кнопка появляется если на странице АВТОР!*@